.btn__drag_add{
    display: block;

    border: 1px solid #333;
    background-color: transparent;
    color:white;
    padding: 8px 12px;

}
.group__drag_add{
    display: flex;
gap: 10px;
margin-bottom: 20px;
}

.input__drag_add{
    border:none;
    outline: none;
    width: 200px;

}

.btn__drag_add:active{
    background-color: #444;
}
