body{
    background: #111;
    color:white;
    font-family: sans-serif;
}  

a{
    color: #999;
    text-decoration: none;
    background-color: #444;
    padding: 4px 8px;
}

a:hover{
    opacity: 0.8;
}
